{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "plugins": ["prettier", "react-hooks"],
    "rules": {
        "prettier/prettier": "error",
        "implicit-arrow-linebreak": "off",
        "react/jsx-filename-extension": [1, {
            "extensions": [".js", ".jsx"]
        }],
        "comma-dangle": "off",
        "no-absolute-path": 0,
        "no-console": "off",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
    },
    "globals": {
        "graphql": true
    }
}
